<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form">
      <h1>Add a cocktail</h1>
        <%= simple_form_for @cocktail do |f| %>
          <%= f.input :name %>
          <%= f.button :submit, class: 'btn btn-success' %>
          <%= f.input :picture, as: :attachinary, label: "Add a cocktail pic" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
